<div id="legends">
    <div id="legendcontainer">
        {% for legend_data in legend_data.values() if legend_data.temperature != None %}
        <div class="legenditem">
            <div class="legendcolorbox" style="
                    background-color: {{legend_data.background_color}};
                    border: 2px solid {{legend_data.border_color}};
                    ">
            </div>
            <div class="legendlabel">
                {{legend_data.label}}<br>{{legend_data.temperature}} °C
            </div>
        </div>
        {% endfor %}
    </div>
</div>
